.third-Section {
    max-width: 80vw;
    margin: auto;
}

.third-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 30px;
}

.third-Section h1 {
    font-size: 2rem;
}

.third-Section img {
    width: 500px;
}

.skills__container {
    row-gap: 2rem;
    text-align: center;
}

.skills__text {
    margin-bottom: 2rem;
}

.skills__data {
    width: 40vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    background-color: rgba(160, 160, 160, 0.1);
    font-weight: 500;
    padding: .5rem 1rem;
    margin-bottom: 1.5rem;
    border-radius: .5rem;
    box-shadow: 5px 5px 0 rgba(255, 255, 255, 0.15);
}

.skills__icon {
    font-size: 2rem;
    margin-right: 1rem;
    color: #aebbff;
}

.skills__names {
    display: flex;
    align-items: center;
}

.skills__bar {
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: white;
    height: .25rem;
    border-radius: .5rem;
    z-index: -10;
}

.skills__photoshop {
    width: 95%;
}

.skills__illustrator {
    width: 85%;
}

.skills__inDesign {
    width: 35%;
}

.skills__canva {
    width: 75%;
}

.skills__figma {
    width: 55%;
}

.skills__premiere {
    width: 15%;
}

.skills__names img {
    width: 2rem;
    margin-right: 1.5rem;
}

