.forth-Section {
    max-width: 80vw;
    margin: auto;
}

.forth-container {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.forth-Section h1 {
    font-size: 2rem;
}

.forth-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 3rem;
    column-gap: 2rem;
}

/* cards */

.card {
    height: 100%;
    width: 100%;
    border-radius: 10px;
    background-size: cover;
    background-position: center;
    overflow: hidden;
    border: 1px solid rgba(204, 204, 204, 0.3);
    transition: all ease 0.3s;
}

.card:hover {
    border: 1px solid rgba(204, 204, 204, .5);
}

.overlay {
    height: 100%;
    width: 100%;
    text-align: left;
    background: rgba(255, 255, 255, 0.4);
    border-radius: 10px;
    transition: all ease 0.3s;
}

.overlay:hover {
    background: rgba(255, 255, 255, 0.5);
}

.overlay h4 {
    margin-left: 25px;
    padding-top: 10px;
    font-size: 25px;
    text-transform: uppercase;
    font-weight: 800;
    color: #000021;
}

.overlay p {
    padding: 10px 25px 20px 25px;
    color: #000021;
    line-height: 30px;
}

.fa-brands {
    font-size: 1.5em;
}

.fa-solid {
    font-size: 1.5em;
}

.overlay__btn {
    padding: 10px 0 10px 0;
    margin-bottom: 25px;
    background: #10102E;
    width: 40%;
    border-radius: 50px;
    cursor: pointer;
    color: #e1e1e1;
    font-weight: 600;
    border: none;
    margin-left: 25px;
    transition: all ease 0.3s;
}

.overlay__btn:hover {
    background-color: #272768;
    border: none;
}

.overlay__img {
    width: 100%;
}

.overlay__container a {
    text-decoration: none;
}

