.fifth-Section {
    max-width: 80vw;
    margin: auto;
}

.fifth-Section {
    margin-top: 30px;
}

.fifth-Section h1 {
    font-size: 2rem;
}

.services {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 2rem;
    column-gap: 1rem;
}

.service_container {
    height: 100%;
    width: 100%;
    background: rgba(255, 255, 255, 0.4);
    border: 1px solid rgba(204, 204, 204, 0.3);
    border-radius: 10px;
    overflow: hidden;
    transition: all ease 0.3s;
}
.service_container:hover {
    background: rgba(255, 255, 255, 0.5);
    border: 1px solid rgba(204, 204, 204, 1);
    transform: translateY(-5px);
}

.services_icon {
    padding-left: 25px;
    padding-top: 25px;
    padding-bottom: 25px;
    font-size: 70px;
    color: #000021;
}

.service_container h4 {
    padding-left: 25px;
    font-size: 25px;
    text-transform: uppercase;
    font-weight: 800;
    color: #000021;
}

.service_container p {
    padding: 10px 25px 25px 25px;
    color: #000021;
    line-height: 30px;
}
