.sixth-Section {
    max-width: 80vw;
    margin: auto auto 70px;
}

.sixth-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.sixth-Section h1 {
    font-size: 2rem;
}

.contact-col {
    flex-basis: 48%;
    margin-bottom: 30px;
}

.contact-col div {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}

.contact-col div p {
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.contact-col div h5 {
    font-size: 20px;
    margin-bottom: 5px;
    color: #555;
    font-weight: 400;
    font-family: Arial, Helvetica, sans-serif;
}

.contact-col input,
.contact-col textarea {
    font-family: 'Futura PT', sans-serif;
    font-size: 15px;
    background-color: transparent;
    color: #d8d8d8;
    width: 100%;
    border-radius: 5px;
    padding: 15px;
    margin-bottom: 17px;
    outline: none;
    border: 1px solid rgba(204, 204, 204, 0.3);
    box-sizing: border-box;
}

.contact-col input:focus,
.contact-col textarea:focus {
    background-color: rgba(255, 255, 255, 0.2);
}

.submit-btn {
    width: 100%;
    padding: 12px;
    background-color: #1e2167;
    color: white;
    border: 1px solid rgba(157, 157, 157, 0.4);
    border-radius: 6px;
    font-size: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.submit-btn:hover {
    background-color: #5053ab;
    border: 1px solid white;
}

